body {font-family: "Courier New", Courier, monospace;
	background-color: #F8F4FF;
	color: #170A1C;}

.titleBox {
	margin: auto;
	width: 400px;
	height: 100px;
	margin-top: 5%;
	animation-name: nameAndJob;
	animation-duration: 3s;
	animation-delay: 3s;
	animation-fill-mode: both;
	animation-timing-function: step-end;
}

@keyframes nameAndJob {
	from {background: url("../assets/nameSheet.png") 0px 0px}
	20% {background: url("../assets/nameSheet.png") 0px -96px}
	40% {background: url("../assets/nameSheet.png") 0px -193px}
	60% {background: url("../assets/nameSheet.png") 0px -290px}
	80% {background: url("../assets/nameSheet.png") 0px -392px}
	to {background: url("../assets/nameSheet.png") 0px -488px}
}

.sprite {
	width: 200px;
	height: 445px;
	animation-name: spraySprite;
	animation-delay: 2s;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: step-end;
}

@keyframes spraySprite {
	from {background: url("../assets/sprayingSheet.png") -65px -35px}
	25% {background: url("../assets/sprayingSheet.png") -300px -35px}
	50% {background: url("../assets/sprayingSheet.png") -510px -35px}
	75% {background: url("../assets/sprayingSheet.png") -695px -35px}
	to {background: url("../assets/sprayingSheet.png") -835px -35px}
}

@keyframes moveArm {
	from {background: url("../assets/sprayingSheet.png") -835px -35px}
	to {background: url("../assets/sprayingSheet.png") -695px -35px}
}