body {font-family: "Courier New", Courier, monospace;
	background-color: #F8F4FF;
	color: #170A1C;}

.border {
	width: 800px;
	height: 600px;
	animation-name: borderEntrance;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-fill-mode: both;
	animation-timing-function: step-end;
}

@keyframes borderEntrance {
	from {background: url("../assets/border.png") 0px 0px}
	25% {background: url("../assets/entrance1.png") 0px 0px}
	75% {background: url("../assets/entrance2.png") 0px 0px}
	90% {background: url("../assets/entrance3.png") 0px 0px}
	to {background: url("../assets/border.png") 0px 0px}
}

.titleBox {
	margin: auto;
	width: 400px;
	height: 100px;
	margin-top: 5%;
	animation-name: nameAndJob;
	animation-duration: 2s;
	animation-delay: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: step-end;
}

@keyframes nameAndJob {
	from {background: url("../assets/nameSheet.png") 0px 0px;}
	20% {background: url("../assets/nameSheet.png") 0px -96px;}
	40% {background: url("../assets/nameSheet.png") 0px -193px;}
	60% {background: url("../assets/nameSheet.png") 0px -290px;}
	80% {background: url("../assets/nameSheet.png") 0px -392px;}
	to {background: url("../assets/nameSheet.png") 0px -488px;}
}

.sprite {
	width: 200px;
	height: 375px;
	position: fixed;
	animation-name: walkingSprite, confettiSprite;
	animation-delay: 5s, 13s;
	animation-duration: 4s, 4s;
	animation-timing-function: step-end, step-end;
	animation-fill-mode: forwards, forwards;
}

@keyframes walkingSprite {
	from {background: url("../assets/walkingSpriteSheetRight.png") 0px 0px; left: 30px;}
	10% {background: url("../assets/walkingSpriteSheetRight.png") -210px 0px; left: 60px;}
	20% {background: url("../assets/walkingSpriteSheetRight.png") -420px 0px; left: 90px;}
	30% {background: url("../assets/walkingSpriteSheetRight.png") -785px 0px; left: 120px;}
	40% {background: url("../assets/sprayingSheet.png") -735px 0px; left: 110px; top: 143px; height: 350px; width: 160px;}
	50% {background: url("../assets/sprayingSheet.png") 0px 0px; left: 100px; top: 140px; height: 350px; width: 160px;}
	60% {background: url("../assets/sprayingSheet.png") -145px 0px; left: 100px; top: 140px; height: 350px; width: 160px;}
	70% {background: url("../assets/sprayingSheet.png") -295px 0px; left: 120px; top: 150px; height: 350px; width: 130px;}
	80% {background: url("../assets/sprayingSheet.png") -405px 0px; left: 120px; top: 150px; height: 350px; width: 130px;}
	85% {background: url("../assets/sprayingSheet.png") -295px 0px; left: 120px; top: 150px; height: 350px; width: 130px;}
	90% {background: url("../assets/sprayingSheet.png") -405px 0px; left: 120px; top: 150px; height: 350px; width: 130px;}
	to {background: url("../assets/sprayingSheet.png") -515px 0px; left: 120px; top: 150px; height: 350px; width: 160px;}
}

@keyframes confettiSprite {
	from {background: url("../assets/sprayingSheet.png") -405px 0px; left: 120px; top: 150px; height: 350px; width: 135px;}
	10% {background: url("../assets/sprayingSheet.png") -295px 0px; left: 120px; top: 150px; height: 350px; width: 135px;}
	20% {background: url("../assets/sprayingSheet.png") -145px 0px; left: 100px; top: 140px; height: 350px; width: 136px;}
	30% {background: url("../assets/sprayingSheet.png") 0px 0px; left: 100px; top: 140px; height: 350px; width: 136px;}
	40% {background: url("../assets/sprayingSheet.png") -735px 0px; left: 110px; top: 143px; height: 350px; width: 120px;}
	50% {background: url("../assets/walkingSpriteSheetRight.png") -785px 0px; left: 120px; width: 120px;}
	60% {background: url("../assets/walkingSpriteSheetLeft.png") -450px 0px; left: 100px; width: 175px;}
	70% {background: url("../assets/walkingSpriteSheetLeft.png") -20px 0px; left: 60px; width: 200px;}
	80% {background: url("../assets/confettiSheet.png") 0px 0px; left: 30px; width: 150px;}
	to {background: url("../assets/confettiSheet.png") -150px 0px; left: 30px; width: 250px; height: 350px}
}


